export("geom", "ijmatrix.create", "ijmatrix.shares", "mci.fit", "mci.shares", "mci.transmat", "mci.transvar", "shares.total", "var.asdummy", "var.correct")
importFrom("stats", "lm")
importFrom("stats", "sd")