export("geom", "huff.attrac", "huff.decay", "huff.fit", "huff.lambda", "huff.shares", "ijmatrix.create", "ijmatrix.crosstab", "ijmatrix.shares", "lm.beta", "mci.fit", "mci.shares", "mci.transmat", "mci.transvar", "model.fit", "shares.segm", "shares.total", "var.asdummy", "var.correct")
importFrom("stats", "lm", "sd", "var", "aggregate")
importFrom("graphics", "barplot", "legend", "lines", "plot", "points")